<% if current_employee%>
  <%= render 'employee/navigation' %>
  <div class="sb-nav-fixed">
        <div id="layoutSidenav">
          <%= render 'employee/sidenav' %>
          <div id="layoutSidenav_content">
            <main>
              <%= render 'employee/card' %>
              <div class="container-fluid px-4">
                <%= render 'voucher_table' %>

              </div>
            </main>
          </div>
        </div>
  </div>
<% end %>
